<%= form_for(@cmsuser, url: admin_signup_path) do |f| %>
    <% if @cmsuser.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@cmsuser.errors.count, "error") %> prohibited this admin account from being saved:</h2>

          <ul>
            <% @cmsuser.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :full_name %><br>
      <%= f.text_field :full_name %>
    </div>
    <div class="field">
      <%= f.label :username %><br>
      <%= f.text_field :username %>
    </div>
    <div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
