<h1>Admin Login</h1>
<% if @cmsuser.errors.any? %>
    <div id="error_explanation">
      <h2>Invalid username and password</h2>
    </div>
<% end %>

<%= form_for(:session, url: login_path) do |f| %>
    <%= f.text_field :username, :placeholder => "Username" %>
    <%= f.password_field :password, :placeholder => "Password" %>
    <%= f.submit "Log in", class: "btn-submit" %>
<% end %>
<%= link_to "Connect With Facebook", "/auth/facebook" %>