<%= form_for(@sport, multipart: true) do |f| %>
  <% if @sport.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sport.errors.count, "error") %> prohibited this sport from being saved:</h2>

      <ul>
      <% @sport.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :detail %><br>
    <%= f.text_field :detail %>
  </div>
  <div class="field">
    <%= f.label :sort %><br>
    <%= f.number_field :sort %>
  </div>

    <div class="field">
      <%= f.label :fileBg %><br>
      <%= f.file_field :fileBg %>
    </div>
    <div class="field">
      <%= f.label :fileCover %><br>
      <%= f.file_field :fileCover %>
    </div>
    <div class="field">
      <%= f.label :fileIcon %><br>
      <%= f.file_field :fileIcon %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
