<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sport.name %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @sport.detail %>
</p>

<p>
  <strong>Sort:</strong>
  <%= @sport.sort %>
</p>

<p>
  <strong>Imgbg:</strong>
  <%= image_tag @sport.fileBg.url %>
</p>

<p>
  <strong>Imgcover:</strong>
  <%= image_tag @sport.fileCover.url(:small) %>
</p>

<p>
  <strong>Imgicon:</strong>
  <%= image_tag @sport.fileIcon.url(:square) %>
</p>

<%= link_to 'Edit', edit_sport_path(@sport) %> |
<%= link_to 'Back', sports_path %>
