<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @group.detail %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @group.sport %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @group.user %>
</p>

<p>
  <strong>Type:</strong>
  <%= @group.group_type %>
</p>

<p>
  <strong>Privacy:</strong>
  <%= @group.privacy %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
