// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  background-color: #1A232A;
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0;

  img {
    width:100%;
    margin-bottom: -5px;
  }

  .logo {
    position: absolute;
    height: 85px;
    width: 180px;
    margin: auto;
    padding: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.main-content {
  position: relative;
  min-height: 300px;
  background-color: #1A232A;
  text-align:center;
  width: 100%;
}

.progresser {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  height: 4px;
  width: 15%;
  background-color: #777777;

  &:first-child, &.selected, &.done {
    background-color: #E03146;
  }

  &:first-child, &:last-child {
    width: 20%;
  }
}

.progresser-dot {
  position: relative;
  display: block;
  float: left;
  text-align: center;
  color: #363F47;
  font-weight: bold;
  line-height: 30px;
  margin: -8px -10px;
  z-index: 2;

  div {
    position: relative;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: rgba(224,49,70,0.5);

    div {
      display: block;
      width: 14px;
      height: 14px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;
      background-color: rgba(224,49,70,1);
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &.selected {
    color: #FFFFFF;
    div {
      background-color: rgba(255,255,255,0.5);
      div {
        background-color: rgba(255,255,255,1);
      }
    }
  }
}

.question-container {
  z-index: 2;
  display: block;
  position: relative;
  width: 100%;
  //height: 100%;
  text-align: center;
  padding: 50px 0 20px 0;

  .button {
    display: block;
    background-color: #E03146;
    width: 90px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;

    &.btnSubmit {
      display: inline-block;
      position: relative;
      margin: 30px 10px 30px 10px;
    }

    @media only screen and (min-width: 500px) {
      & {
        display: block;
        position: absolute;
        margin: auto;
      }

      &.btnBack {
        top: 0;
        bottom: 0;
        left: 0;
      }

      &.btnNext {
        top: 0;
        bottom: 0;
        right: 0;
      }
    }

    @media only screen and (max-width: 499px) {
      & {
        display: inline-block;
        position: relative;
        margin: 30px 10px 30px 10px;
      }

    }
  }

  h1 {
    color: #E03146;
    font-size: 1.8em;
  }

  input[type="text"] {
    display: inline-block;
    background-color: #363F47;
    min-width: 180px;
    min-height: 40px;
    border: none;
    text-align: center;
    color: #BBBBBB;
    font-size: 18px;
    padding: 0;

    &#txtName, &#txtEmail, &#txtOtherSports {
      width: 300px;
    }

    &#txtBirthday {
      width: 300px;
      //padding: 0 40px 0 0;
      background: url('https://s3-ap-southeast-1.amazonaws.com/towl/web/dropdown_box.png') no-repeat right #363F47;
      background-size: contain;
    }
  }
  ::-webkit-input-placeholder {
    color: #21212D;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #21212D;
  }
  ::-moz-placeholder {  /* Firefox 19+ */
    color: #21212D;
  }
  :-ms-input-placeholder {
    color: #21212D;
  }

  .checkbox {
    display: inline-block;
    min-width: 120px;
    min-height: 40px;
    border: none;
    text-align: center;
    color: #BBBBBB;
    font-size: 18px;
    line-height: 40px;
    text-decoration: none;
    background: url('https://s3-ap-southeast-1.amazonaws.com/towl/web/tickbox_no.png') no-repeat right #363F47;
    background-size: contain;
    padding: 0 40px 0 0;

    &#cbMale {
      margin-right: 30px;
    }

    &.selected {
      background: url('https://s3-ap-southeast-1.amazonaws.com/towl/web/tickbox_yes.png') no-repeat right #363F47;
      background-size: contain;
    }
  }

  select {
    display: inline-block;
    min-width: 180px;
    min-height: 40px;
    border: none;
    text-align: center;
    color: #BBBBBB;
    font-size: 18px;
    line-height: 40px;
    text-decoration: none;
    background: url('https://s3-ap-southeast-1.amazonaws.com/towl/web/dropdown_box.png') no-repeat right #363F47;
    background-size: contain;
    padding: 0 40px 0 10px;
    -webkit-appearance: none;
    -moz-appearance: none;

    &#cbSports, &#cbPurpose, &#cbOften {
      width:300px;
    }
  }
}

.hide {
  display: none;
}