html, body {
  background-color: #1A232A;
  height: 100%;
  width: 100%;
  color: #BBBBBB;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding: 0;
  margin: 0;
}


#main-container {
  min-height: 100%;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
}

.footer {
  z-index: 2;
  position:relative;
  background-color: #1A232A;
  padding: 10px;
  a.social {
    position:relative;
    float:left;
    width: 30px;
    height: 25px;

    img {
      position: absolute;
      margin: auto;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  span {
    float: right;
    position: relative;
    line-height: 25px;
    a.appdownload {
      position:relative;
      float: right;
      width: 72px;
      height: 25px;

      img {
        position: absolute;
        margin: auto;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
}


p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

div.clear {
  clear: both;
}
