<!DOCTYPE html>
<html>
    <head>
      <title>TOWL - Be your own pro</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
      <meta name="viewport" content="width=device-width, target-densitydpi=device-dpi, user-scalable=yes" />
    </head>
    <body>
        <div id="main-container" class="container-fluid">
          <%= yield %>
          <div class="footer">
            <a class="social" href="http://facebook.com/towlapp" target="_blank"><img src="https://s3-ap-southeast-1.amazonaws.com/towl/web/ico_fb.png"></a>
            <a class="social" href="http://twitter.com/towlapp" target="_blank"><img src="https://s3-ap-southeast-1.amazonaws.com/towl/web/ico_twitter.png"></a>
            <a class="social" href="http://medium.com/@towlapp" target="_blank"><img src="https://s3-ap-southeast-1.amazonaws.com/towl/web/ico_blogspot.png"></a>
            <span>Will be available soon.
            <a class="appdownload" target="_blank"><img src="https://s3-ap-southeast-1.amazonaws.com/towl/web/btn_appstore.png"></a>
            <a class="appdownload" target="_blank"><img src="https://s3-ap-southeast-1.amazonaws.com/towl/web/btn_playstore.png"></a></span>
            <div class="clear"></div>
          </div>
        </div>
    </body>
</html>
